*{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
body {
    display: flex;
}
.main-cnt {
    padding: 10px;
    display: flex;
}
.head-nav-cnt {
    display: flex;
}
