.drawer-icon {
    display: flex;
    justify-content: center;
}
.MuiDrawer-paper{
    margin-top: 65px !important;
}
.MuiPaper-root{
    margin-top: 65px !important;
}
.MuiPaper-elevation {
    margin-top: 65px !important;
}
.MuiDrawer-docked{
    margin-top: 65px !important;
}
.MuiPaper-root .MuiPaper-elevation .MuiPaper-elevation0 .MuiDrawer-paper .MuiDrawer-paperAnchorLeft .MuiDrawer-paperAnchorDockedLeft .css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    margin-top: 65px !important;
}