*{
    padding: 0px;
    margin: 0px;
}

.header-main-cnt {
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    // border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 8px;
    // justify-content: space-between;
    // border-bottom: 1px solid black;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.header-logo-main-cnt {
    display: flex;
    align-items: center;
    width: 13.5%;
    height: 48px;
    // padding-right: 30px;
}
.header-menu-cnt {
    // width: 20.6%;
    padding: 12px;

}
.header-logo-icon-txt-cnt {
    // width: 41.8%;
    height: 44px;
    display: flex;
    align-items: center;

    .header-logo-cnt {
        // width: 45%;

        // padding-right: 4px;
        // margin: 0px 0px 4px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    span {
        font-size: 22px;
        color: #5f6368;
        padding-left: 4px;
    }
}
.header-serch-main-cnt {
    display: flex;
    align-items: center;
    // justify-content: space-around;
    width: 80%;
    height: 48px;
}
.header-serch-logo-cnt {
    display: flex;
    justify-content: flex-start;
    width: 88%;
    height: 100%;
    padding-right: 35px;

    .header-search-logo-inner-cnt {
        // width: 78.1%;
        display: flex;
        align-items: center;
        width: 55%;
        justify-content: left;
        border-radius: 8px;
        background: #f1f3f4;
        padding: 0px 30px 0px 10px;

        .header-search-icon {
            // width: 7.7%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .header-search-inp-cnt {
            // width: 88%;

            input {
                width: 100%;
                height: 100%;
                background-color: #f1f3f4;
                border: none;
                font-size: 18px;
                outline: none;
            }
        }
    }
}
.header-search-oth-app-cnt {
    display: flex;
    // width: 13.5%;

    .header-opt-same-cnt {
        width: 48px;
    }
}
.header-apps-mian-cnt {
    display: flex;
    align-items: center;
    // width: 6.99%;
    gap: 10px;
    height: 48px;
    padding-left: 30px;

    .header-apps-logo-cnt {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.header-profile-logo-inner-cnt {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: rgb(25, 25, 153);
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        color: white;
        font-size: 20px;
    }
}