* {
    margin: 0px;
    padding: 0px;
    color: #404142;
    outline: none;
}

.inner-note-cnt{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 44%;
    gap: 15px;
    margin-top: 0px;
    margin-left: 23%;
    border-radius: 8px;
    box-shadow: 0px 1px 5px rgba(90, 87, 87, 0.616);
    padding: 15px;
}
.inner-title-note-cnt{
    display: flex;
    justify-content: space-between;
}
.inner-title-input-cnt{
    border: none;
    outline: none;
    color: #202124;
    font-size: 20px;
}
.inner-takenote-input-cnt{
    border: none;
    outline: none;
    font-size: 13px;
}
.inner-note-icons-cnt{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inner-icons{
    display: flex;
    gap: 15px;
}
